{% extends 'base.html.twig' %}

{% block title %}Mes adresses - Les gâteaux de la madre{% endblock %}

{% block content %}
<h1 class="h1 mb-3 font-weight-normal">Mes adresses</h1>
<a href="{{path('app_account_address_add')}}" class ="btn btn-dark btn-sm">Ajouter une adresse</a>
<a href="" class ="btn btn-dark btn-sm">Modifier une adresse</a>
<a href="" class ="btn btn-dark btn-sm">Supprimer une adresse</a>
<a href="{{path('app_account')}} " class ="btn btn-dark btn-sm">Retour</a>
<hr>
{% if app.user.addresses|length == 0 %}
<p>Vous n'avez aucune adresse sur votre compte pour en ajouter une <a href="">cliquer ici</a>.</p>
{% else %}

<div class="row">
{% for address in app.user.addresses %}
<div class="card" style="width: 17rem; margin: 2px;">
    <img src="" class="card-img-top">
    <div class="card-body">
        <h5 class="card-title">{{address.name}}</h5>
        <p class="card-text">{{address.address}}
        {{address.postal}}, {{address.city}}</p>
        <span><a href="{{path('app_account_address_edit', {'id': address.id})}}" class="btn btn-dark btn-sm">Modifier</a></span>
        <span><a href=" {{path('app_account_address_delete', {'id': address.id})}}" class="btn btn-dark btn-sm">Supprimer</a></span>
    </div>
</div>
{% endfor %}
</div>
{% endif %}
{% endblock %}
